.conteudo-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.historia {
    background-color: var(--azul-escuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0px;
    padding: 30px 0px;
    width: 100%;
    height: auto;
}

.historia .historia-titulo {
    color: var(--azul-claro);
    font-size: 2em;
    width: 95%;
    text-align: center;
}


.historia .historia-paragrafo {
    color: var(--branco);
    font-size: 0.75em;
    max-width: 970px;
    width: 90%;
    text-align: center;
    line-height: 2em;
}

@media(max-width:400px) {
    .historia .historia-titulo {
        font-size: 1.5em;
    } 
}