@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&family=Righteous&display=swap");
* {
  padding: 0;
  margin: 0;
}

/* Header */
header {
  background-color: #57E0FF;
  padding: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mkt {
  position: absolute;
  top: 50%;
  left: 50%;
}

.mkt img {
  margin-top: -265px;
  width: 450px;
  height: 140px;
  padding: 40px;
}

h1 {
  display: flex;
  margin-left: 120px;
  color: #4A7FFF;
  margin-top: 35px;
  font-size: 25px;
  font-weight: 400;
  font-family: Righteous;
  text-align: center;
}

p {
  display: flex;
  color: #ffffff;
  padding: 25px;
  margin-top: 25px;
  margin-left: 100px;
  font-size: 15px;
  font-family: Poppins;
}

.mkt_header_info_text {
  width: 40%;
}

.mkt_header_botao {
  display: flex;
  padding: 40px;
  margin-left: 100px;
  width: 250px;
}

/* Header - FIM */
button {
  width: 270px;
  height: 50px;
  background: #4A7FFF;
  color: white;
  border-radius: 15px;
  margin-top: 20px;
  align-items: center;
  font-family: Righteous;
  font-size: 18px;
  border-style: none;
}

section {
  background: #ffffff;
  height: 205px;
}

.mkt_main_serv {
  height: 500px;
}

.mkt_main_cf-container {
  margin-bottom: 100px;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4A7FFF;
  margin-top: 35px;
  font-size: 29, 8px;
  font-weight: 400;
  font-family: Righteous;
  text-align: center;
  padding: 20px;
}

#mkt_main_text_fun {
  display: flex;
  color: black;
  text-align: center;
  font-size: 13px;
  padding: 40px;
  margin-top: -15px;
  margin-left: 10px;
}

#mkt_main_serve {
  width: 100%;
  height: 100%;
  background-color: #57E0FF;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.mkt_main_align {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mkt_main_align p {
  color: black;
  width: 300px;
  text-align: center;
}

.mkt_main_align img {
  padding-left: 160px;
}

.mkt_main_img1 {
  padding: 0px;
}

.mkt_main_img2 {
  margin-left: 20px;
  padding: 0px;
}

.mkt_main_img3 {
  padding: 0px;
  margin-top: -60px;
  margin-left: 20px;
}

.mkt_main_img1 img {
  width: 150px;
}

.mkt_main_img1 p, .mkt_main_img2 p, .mkt_main_img3 p {
  margin-left: 95px;
}

.mkt_main_img2 img {
  width: 150px;
}

.mkt_main_img3 img {
  width: 120px;
  margin-top: 50px;
}

p {
  padding: 10px;
}

/* Responsabilidades - FIM */
/* Ideal Para */
/* Ideal Para - FIM */
/* Serviços */
h3 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4A7FFF;
  font-size: 30px;
  font-family: Righteous;
  text-align: center;
  font-weight: 400;
  padding: 15px;
}

.mkt_main_circulo {
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #4A7FFF;
  margin: -70px;
  margin-top: -5px;
  position: absolute;
}

.mkt_main_wrapper {
  display: inline-block;
  width: 270px;
  height: 50px;
  margin: 90px;
  padding: 20px;
  border: 3px solid #ffffff;
  margin-right: 25px;
  border-radius: 15px;
  position: relative;
}

#mkt_main_box {
  margin-top: -10px;
  margin-left: 5px;
  text-align: center;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 400;
}

#mkt_main_img {
  display: flex;
  margin-top: 5px;
  margin: 1px;
  padding: 15px;
}

/*/Responsivo/*/
@media (max-width: 1300px) {
  .mkt {
    left: 50%;
  }
  .mkt_main_align {
    display: flex;
    flex-direction: column;
  }
  .mkt_main_align p {
    font-size: 12px;
  }
}
@media (max-width: 1000px) {
  .mkt {
    display: none;
  }
}
@media (max-width: 800px) {
  .mkt {
    display: flex;
  }
  .mkt img {
    margin-top: -300px;
    margin-left: -230px;
    padding: 0px;
  }
  .mkt_header_info {
    margin-top: 150px;
  }
  .mkt_main_cf-container {
    height: 60%;
  }
  .mkt_main_align {
    gap: 20px;
  }
  .mkt_main_serv {
    height: 1500px;
  }
}
@media (max-width: 428px) {
  /* Header */
  header {
    width: 100%;
    padding: 5px;
  }
  .mkt {
    display: flex;
  }
  .mkt img {
    margin-top: -350px;
    margin-left: -160px;
    width: 320px;
  }
  .mkt_header_info {
    margin-left: -80px;
  }
  h1 {
    display: flex;
    justify-content: center;
    margin-left: 80px;
  }
  p {
    text-align: center;
    margin-left: 90px;
  }
  .mkt_header_botao {
    margin-left: 128px;
  }
  .mkt_header_info_text {
    width: 70%;
    margin-left: 100px;
  }
  /* Header - FIM*/
  /* Como funciona */
  /* Como funciona - FIM */
  /* Serviço  */
  .mkt_main_serv {
    height: 950px;
    width: 450px;
  }
  .mkt_main_wrapper {
    width: 200px;
    height: 40px;
    margin-left: 110px;
  }
  #mkt_main_box {
    margin-top: -15px;
  }
  /* Serviço - FIM */
  /* Responsabilidades */
  .mkt_main_align {
    padding: 0px;
    margin: 0px;
  }
  .mkt_main_align_p {
    margin-left: 90px;
  }
  .mkt_main_align_p2 {
    margin-left: 130px;
  }
  .mkt_main_img1 {
    margin-left: -170px;
    padding: 0px;
    margin-top: 30px;
  }
  .mkt_main_img2 {
    margin-left: -170px;
    padding: 0px;
    margin-top: 30px;
  }
  .mkt_main_img3 {
    margin-left: -170px;
    padding: 0px;
    margin-top: 30px;
  }
  .mkt_main_img1 img {
    width: 150px;
    margin-left: 100px;
  }
  .mkt_main_img2 img {
    width: 150px;
    margin-left: 100px;
  }
  .mkt_main_img3 img {
    width: 150px;
    margin-left: 100px;
  }
  p {
    padding: 10px;
  }
  /* Responsabilidades - FIM*/
}
@media (max-width: 400px) {
  /* Header */
  header {
    width: 100%;
    padding: 5px;
  }
  .mkt {
    display: flex;
  }
  .mkt img {
    margin-top: -320px;
    margin-left: -160px;
    width: 300px;
  }
  h1 {
    width: 80%;
    margin-left: 100px;
  }
  .mkt_header_info {
    margin-top: 150px;
    margin-left: -100px;
  }
  .mkt_header_botao {
    margin-left: 120px;
  }
  /* Header - FIM*/
  /* Como funciona */
  .mkt_main_cf-container {
    height: 100%;
    margin-bottom: 0px;
  }
  /* Como funciona - FIM */
  /* Serviço  */
  .mkt_main_serv {
    height: 950px;
    width: 400px;
  }
  .mkt_main_wrapper {
    width: 200px;
    height: 40px;
    margin-left: 80px;
  }
  #mkt_main_box {
    margin-top: -15px;
  }
  /* Serviço - FIM */
  /* Responsabilidades */
  .mkt_main_align {
    padding: 0px;
    margin: 0px;
  }
  .mkt_main_align_p {
    margin-left: 70px;
  }
  .mkt_main_align_p2 {
    margin-left: 100px;
  }
  .mkt_main_img1 {
    margin-left: -160px;
    padding: 0px;
  }
  .mkt_main_img2 {
    margin-left: -160px;
    padding: 0px;
  }
  .mkt_main_img3 {
    margin-left: -160px;
    padding: 0px;
  }
  .mkt_main_img1 img {
    width: 150px;
    margin-left: 90px;
  }
  .mkt_main_img2 img {
    width: 150px;
    margin-left: 90px;
  }
  .mkt_main_img3 img {
    width: 150px;
    margin-left: 90px;
  }
  p {
    padding: 10px;
  }
  /* Responsabilidades - FIM*/
}
@media (max-width: 320px) {
  /* Header */
  header {
    width: 100%;
    padding: 5px;
  }
  .mkt {
    display: flex;
  }
  .mkt img {
    margin-top: -200px;
    margin-left: -130px;
    width: 240px;
  }
  p {
    font-size: clamp(1em, 1em + 1vw, 1.25em);
  }
  /* Header - FIM*/
  /* Como funciona */
  .mkt_main_cf-container {
    height: 600px;
    margin-bottom: 0px;
  }
  /* Como funciona - FIM */
  /* Serviço  */
  h3 {
    margin-left: -40px;
  }
  .mkt_main_serv {
    height: 950px;
    width: 385px;
  }
  .mkt_main_wrapper {
    margin-left: 60px;
    width: 200px;
    height: 40px;
  }
  #mkt_main_box {
    margin-top: -15px;
  }
  /* Serviço - FIM */
  /* Responsabilidades */
  .mkt_main_align {
    padding: 0px;
    margin: 0px;
  }
  .mkt_main_img1 {
    margin-left: -60px;
    padding: 0px;
  }
  .mkt_main_img2 {
    margin-left: -60px;
    padding: 0px;
  }
  .mkt_main_img3 {
    margin-left: -60px;
    padding: 0px;
  }
  .mkt_main_img1 img {
    width: 150px;
  }
  .mkt_main_img2 img {
    width: 150px;
  }
  .mkt_main_img3 img {
    width: 150px;
  }
  p {
    padding: 10px;
  }
  /* Responsabilidades - FIM*/
}/*# sourceMappingURL=mkt.css.map */