{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'style\pages\estacoes\detalhes_estacao.css' %}">
    <style>
        /*Variaveis de cores*/
            :root {
            --font-padrao: "Poppins", sans-serif;
            --branco: #fff;
            --azul-escuro: #1D267D;
            --azul-medio: #4276BD;
            --azul-claro: #35BEF0;
            --verde-escuro: #03A64A;
            --verde-claro: #64FF1C;
            --laranja-escuro: #F98439;
            --laranja-claro: #F2B544;
            --roxo-escuro: #4D49BF;
            --roxo-claro: #BE53FF;
            --cinza-claro: #A2A2A2;
            --preto: #000;
        }
        /*Variaveis de cores*/
    </style>
{% endblock %}
{% block title %}
    Estações - Academy
{% endblock %}
{% block content %}
    <main>
        <section class="principal" style="background-color: var(--roxo-escuro);">
            <article class="escrita">
                <h2 class="titulo" style="color: var(--roxo-claro);">Cloud</h2>
                <p class="paragrafo">
                    A computação em nuvem oferece serviços como armazenamento de dados, segurança, rede, software e business intelligence via assinatura online.
                </p>
                <a href="" class="botao" style="background-color: var(--roxo-claro);">Faça parte da equipe</a>
            </article>
            <article class="imagem">
                <img src="/images/mesas-logo/logo-cloud.png" alt="" class="imagem-item">
            </article>
        </section>

        <section class="funciona">
            <h2 class="titulo" style="color: var(--roxo-claro);">Como funciona?</h2>
            <p class="paragrafo">A mesa opera como um hub dinâmico, focado em capacitar os alunos a dominarem a criação de aplicativos low code. Aqui, eles aprendem a conceber soluções inovadoras, implementar sistemas eficientes usando a abordagem low code e a desenvolver programação de inteligência artificial para chatbots. Além disso, os participantes têm a oportunidade de aprimorar suas habilidades na gestão de business intelligence, proporcionando uma experiência prática e abrangente no desenvolvimento de tecnologias avançadas.</p>
        </section>

        <section class="servicos" style="background-color: var(--roxo-escuro);">
            <h2 class="titulo" style="color: var(--roxo-claro);">Serviços</h2>
            <div class="servicos-card">
                <article class="servicos-item" >
                    <div class="servicos-imagem" style="background-color: var(--roxo-claro);">
                        <img src="../images/global/servicos/serv1.png" alt="" class="imagem-item">
                    </div>
                    <p class="servico-paragrafo">Desenvolvimento de Aplicativos Low Code</p>
                </article>
                <article class="servicos-item">
                    <div class="servicos-imagem" style="background-color: var(--roxo-claro);">
                        <img src="../images/global/servicos/serv2.png" alt="" class="imagem-item">
                    </div>
                    <p class="servico-paragrafo">Desenvolvimento de Aplicativos Low Code</p>
                </article>
                <article class="servicos-item">
                    <div class="servicos-imagem" style="background-color: var(--roxo-claro);">
                        <img src="../images/global/servicos/serv3.png" alt="" class="imagem-item">
                    </div>
                    <p class="servico-paragrafo">Desenvolvimento de Aplicativos Low Code</p>
                </article>
            </div>
        </section>

        <section class="beneficios">
            <article class="escrito">
                <h2 class="escrito-titulo" style="color: var(--roxo-claro);">Resposabilidade</h2>
                <p class="escrito-paragrafo">
                    Os alunos desempenham um papel ativo e responsável. Eles aplicam prontamente os conhecimentos adquiridos, criando soluções práticas como aplicativos low code e sistemas, e programando inteligência artificial para chatbots. A colaboração e inovação são incentivadas, assim como a gestão eficiente de projetos. Participam ativamente de atividades de business intelligence, aplicando análise crítica para extrair insights valiosos. Assumindo essas responsabilidades, os alunos enriquecem sua experiência e contribuem para o sucesso coletivo da mesa.
                </p>
            </article>

            <article class="card">
                <h2 class="titulo-card" style="color: var(--roxo-claro);">Beneficios</h2>
                <div class="beneficios-card">
                    <div class="card-item">
                        <div class="card-imagem">
                            <img src="../images/global/beneficios/beneficios-roxo01.png" alt="" class="imagem-item">
                        </div>
                        <p class="card-paragrafo">Experiência Prática e Aplicação de Conhecimento</p>
                    </div>

                    <div class="card-item">
                        <div class="card-imagem">
                            <img src="../images/global/beneficios/beneficios-roxo02.png" alt="" class="imagem-item">
                        </div>
                        <p class="card-paragrafo">Experiência Prática e Aplicação de Conhecimento</p>
                    </div>

                    <div class="card-item">
                        <div class="card-imagem">
                            <img src="../images/global/beneficios/beneficios-roxo03.png" alt="" class="imagem-item">
                        </div>
                        <p class="card-paragrafo">Experiência Prática e Aplicação de Conhecimento</p>
                    </div>
                </div>
            </article>
        </section>

        <section class="equipes">
            <article class="carrossel-titulo">
                <h2 class="titulo-item" style="color: var(--roxo-claro);">Equipes</h2>
            </article>
            <article class="imagens-carrossel">
                <i>
                    <input checked type="radio" name="s" style="background-image: url('https://picsum.photos/500/300?random=1');" title="Random Picture 1">
                    <input type="radio" name="s" style="background-image: url('https://picsum.photos/500/300?random=2');" title="Random Picture 2">
                    <input type="radio" name="s" style="background-image: url('https://picsum.photos/500/300?random=3');" title="Random Picture 3">
                    <input type="radio" name="s" style="background-image: url('https://picsum.photos/500/300?random=4');" title="Random Picture 4">
                    <input type="radio" name="s" style="background-image: url('https://picsum.photos/500/300?random=5');" title="Random Picture 5">
                </i>
            </article>
        </section>

        <section class="ideal">
            <h2 class="ideal-titulo" style="color: var(--roxo-claro);">Ideial para</h2>

            <article class="ideal-card">
                <div class="card-item">
                    <div class="card-imagem">
                        <img src="../images/global/ideial/ideal-roxo01.png" alt="ideal1" class="imagem-item">
                    </div>
                    <p class="paragrafo">Pessoas criativas com uma olhar artistico para o mundo.</p>
                </div>

                <div class="card-item">
                    <div class="card-imagem">
                        <img src="../images/global/ideial/ideal-roxo02.png" alt="ideal2" class="imagem-item">
                    </div>
                    <p class="paragrafo">Pessoas criativas com uma olhar artistico para o mundo. </p>
                </div>

                <div class="card-item">
                    <div class="card-imagem">
                        <img src="../images/global/ideial/ideal-roxo03.png" alt="ideal2" class="imagem-item">
                    </div>
                    <p class="paragrafo">Pessoas criativas com uma olhar artistico para o mundo. </p>
                </div>
            </article>
        </section>

        <section class="competencias">
            <h2 class="titulo" style="color: var(--roxo-claro);">Competências desenvolvidas</h2>
            <article class="cards">
                <div class="card-item" style="background-color: var(--roxo-claro); border: 5px solid var(--roxo-escuro);">
                    <p class="card-paragrafo">Desenvolver aplicativos</p>
                </div>

                <div class="card-item" style="background-color: var(--roxo-claro); border: 5px solid var(--roxo-escuro);">
                    <p class="card-paragrafo">Desenvolver aplicativos</p>
                </div>

                <div class="card-item" style="background-color: var(--roxo-claro); border: 5px solid var(--roxo-escuro);">
                    <p class="card-paragrafo">Desenvolver aplicativos</p>
                </div>
            </article>
        </section>
    </main>
{% endblock %}
{% block js %}
<script src="../script/menuShow.js"></script> 
{% endblock %}