{% extends 'base.html' %}
{% load static %}    
{% block head %}
    <link rel="stylesheet" href="{% static '/style/pages/get/get.css' %}">
{% endblock %}
{% block title %}
    GET - Academy
{% endblock %}
{% block content %}
    <section class="conteudo1">
        <div class="titulo">
            <h1>{{ estacao.nome }}</h1>
            <div class="itens">
                <p> {{ estacao.descricao_estacao }} </p>
                <img src="{{ estacao.logo.url }}" alt="{{ estacao.nome }}">
        </div>
        <div class="botao-conteudo1">
            <a href="{% url 'Core:contato' %}" style="color: white;text-decoration: none;">
                <button>
                        Faça Parte da Equipe
                    </button>
                </a>
        </div>
        </div>
    </section>
 
    <div class="conteudo-2">
        <h2>Como Funciona?</h2>
        <p>{{ estacao.texto_funcionamento }}
        </p>
    </div>

    <div class="get_main_serv">

        <div id="get_main_serve">
            <h3>Serviços</h3>

            <div class="get_main_services">

                <div class="get_main_wrapper">
                    <div class="get_main_circulo"><img id="get_main_img" src="{% static '/images/global/servicos/serv1.png' %}"></div>
                    <p id="get_main_box">Otimização Educacional</p>
                </div>

                <div class="get_main_wrapper">
                    <div class="get_main_circulo"><img id="get_main_img" src="{%static '/images/global/servicos/serv2.png'%}"></div>
                    <div class="get_main_boxboxRight">
                        <p id="get_main_box">Suporte Personalizado</p>
                    </div>
                </div>
                <div class="get_main_wrapper">
                    <div class="get_main_circulo"><img id="get_main_img" src="{% static '/images/global/servicos/serv3.png' %}"></div>
                    <div class="get_main_boxboxRight">
                        <p id="get_main_box">Desempenho Aprimorado</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="conteudo-2">
        <h2>Responsabilidades</h2>
        <p> Nossas responsabilidades incluem otimizar a gestão escolar, promovendo a eficácia operacional e criando um ambiente educacional positivo. Além disso, oferece orientação personalizada por meio de suporte de tutoria, adaptado às necessidades específicas de cada aluno, visando ao desenvolvimento acadêmico e pessoal. A equipe também se compromete com o monitoramento contínuo do desempenho dos alunos, implementando estratégias para melhorias constantes, garantindo assim uma jornada educacional de sucesso e crescimento holístico."
        </p>
    </div>
    <div class="beneficios">
        <div class="beneficios-titulo">
            <h2>Benefícios</h2>
        </div>
        <div class="beneficios-imagens">
            <div class="beneficio">
                <img src="{% static '/images/global/beneficios/beneficios-verde01.png' %}" alt="Benefício 1">
                <p>Crescimento individual e coletivo</p>
            </div>
            <div class="beneficio">
                <img src="{% static '/images/global/beneficios/beneficios-verde02.png' %}" alt="Benefício 2">
                <p>Gestão Organizada de registros e documentos</p>
            </div>
            <div class="beneficio">
                <img src="{% static '/images/global/beneficios/beneficios-verde03.png' %}" alt="Benefício 2">
                <p>Alinhamento com metas da equipe e objetivos organizacionais</p>
            </div>

        </div>
    </div>
    
<section class="equipes">
    <div class="carrossel-titulo">
    <h2>Equipes</h2>
</div>
<div class="imagens-carrossel">
    <i>
        <input checked type="radio" name="s" style="background-image: url('../images/pages/carrossel/equipe.png');" title="Random Picture 1">
        <input type="radio" name="s" style="background-image: url('https://picsum.photos/500/300?random=2');" title="Random Picture 2">
        <input type="radio" name="s" style="background-image: url('https://picsum.photos/500/300?random=3');" title="Random Picture 3">
        <input type="radio" name="s" style="background-image: url('https://picsum.photos/500/300?random=4');" title="Random Picture 4">
        <input type="radio" name="s" style="background-image: url('https://picsum.photos/500/300?random=5');" title="Random Picture 5">
    </i>
</div>
</section>
    <div class="ideal-para">
        <div class="ideal-para-titulo">
            <h2>Ideal Para</h2>
        </div>
        <div class="ideal-imagens">
            <div class="ideal">
                <img src="{% static '/images/global/ideial/ideal-verde01.png' %}" alt="ideal1">
                <p>Alunos com habilidades sólidas de comunicação</p>
            </div>
            <div class="ideal">
                <img src="{% static '/images/global/ideial/ideal-verde02.png' %}" alt="ideal2">
                <p>Aqueles que têm empatia e habilidades colaborativas, pois o RH muitas vezes envolve lidar com questões pessoais e promover um ambiente de trabalho harmonioso.</p>
            </div>
            <div class="ideal">
                <img src="{% static '/images/global/ideial/ideal-verde03.png' %}" alt="ideal3">
                <p>Estudantes que têm interesse em questões jurídicas relacionadas ao emprego e regulamentações empresariais.</p>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
<script src="{% static '/script/menuShow.js' %}"></script>
{% endblock %}