:root {
    --verde-mesa-escuro: #03A64A;
    --verde-mesa-claro: #06BD21;

    --laranja-mesa-escuro: #DBB132;
    --laranja-mesa-claro: #F2B544;

    --roxo-mesa-claro: #7347D6;
    --roxo-mesa-escuro: #4D49BF;

    --azul-mesa-claro: #57E0FF;
    --azul-mesa-escuro: #439EE8;
}