{% extends 'base_escolha.html' %}
{% load static %}
{% block title %}
    Academy One - Mesas
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static '/style/pages/mesas/mesas.css' %}">
{% endblock %}
{% block content %}
    <main class="conteudo-mesas">
       <h1 class="mesas-titulo">Mesas</h2>

       <section class="mesas-card ">

        <article class="mesas">
            <div class="titulo verde-claro">
                <h3 class="titulo-item">Gestão</h3>
            </div>

            <div class="card verde-claro">
                <a href="{% url 'Estacoes:pmo' %}">
                    <div class="card-item verde-escuro">
                        <img src="{% static '/images/mesas-logo/logo-pmo-vertical.png' %}" alt="logo mesa de PMO" class="imagem">
                    </div>
                </a>
                <a href="{% url 'Estacoes:qualidade' %}">
                   <div class="card-item verde-escuro">    
                        <img src="{% static '/images/mesas-logo/logo-qualidade-vertical.png' %}" alt="Logo da mesa de qualidade" class="imagem">
                   </div>
                </a>
                <a href="{% url 'Estacoes:get' %}">
                    <div class="card-item verde-escuro">
                        <img src="{% static '/images/mesas-logo/logo-get-vertical.png' %}" alt="logo da mesa de qualidade" class="imagem">
                    </div>
                </a>
            </div>
        </article>

        <article class="mesas">
            <div class="titulo laranja-claro">
                <h3 class="titulo-item">ADM</h3>
            </div>

            <div class="card laranja-claro">
                <a href="{% url 'Estacoes:esg' %}">
                    <div class="card-item laranja-escuro">
                        <img src="{% static '/images/mesas-logo/logo-esg-vertical.png' %}" alt="logo mesa de PMO" class="imagem">
                    </div>
                </a>
                <a href="{% url 'Estacoes:bpo' %}">
                    <div class="card-item laranja-escuro">
                        <img src="{% static '/images/mesas-logo/logo-bpo-vertical.png' %}" alt="Logo da mesa de qualidade" class="imagem">
                    </div>
                </a>
                <a href="{% url 'Estacoes:rh' %}">
                    <div class="card-item laranja-escuro">
                        <img src="{% static '/images/mesas-logo/logo-rh-vertical.png' %}" alt="logo da mesa de qualidade" class="imagem">
                    </div>
                </a>
            </div>
        </article>

        <article class="mesas">
            <div class="titulo roxo-claro">
                <h3 class="titulo-item">T.I</h3>
            </div>

            <div class="card roxo-claro">
                <a href="{% url 'Estacoes:low_code' %}">
                  <div class="card-item roxo-escuro">
                        <img src="{% static '/images/mesas-logo/logo-lowcode-vertical.png' %}" alt="logo mesa de PMO" class="imagem">
                   </div>
                </a>
                <a href="{% url 'Estacoes:cloud' %}">
                   <div class="card-item roxo-escuro">
                        <img src="{% static '/images/mesas-logo/logo-cloud-vertical.png' %}" alt="Logo da mesa de qualidade" class="imagem">
                    </div>
                </a>
            </div>
        </article>

        <article class="mesas">
            <div class="titulo azul-claro">
                <h3 class="titulo-item">Mercado</h3>
            </div>

            <div class="card azul-claro">
                <a href="{% url 'Estacoes:mkt' %}">
                    <div class="card-item azul-escuro">
                        <img src="{% static '/images/mesas-logo/logo-marketing-vertical.png' %}" alt="logo mesa de PMO" class="imagem">
                    </div>
                </a>
                <a href="{% url 'Estacoes:sdr' %}">
                    <div class="card-item azul-escuro">
                        <img src="{% static '/images/mesas-logo/logo-sdr-vertical.png' %}" alt="Logo da mesa de qualidade" class="imagem">
                    </div>
                </a>
            </div>
        </article>

        
       </section>
    </main>
{% endblock %}
{% block js %}
<script src="{% static '/script/menuShow.js' %}"></script>
{% endblock %}