{% extends 'base_laranja.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static '/style/pages/esg/esg.css' %}">
{% endblock %}
{% block title %}
   ESG - Academy
{% endblock %}
{% block content %}
    <section class="conteudo1">
        <div class="titulo">
            <h1>Enviromental, Social and Governance</h1>
            <div class="itens">
                
                <p> A mesa de ESG ou governança ambiental, social e corporativa avalia o compromisso de uma corporação com objetivos sociais que transcendem a maximização de lucros para acionistas.funciona como um canal de entrada de projetos do Eniac, sejam projetos externos.
                </p>
                <img src="{% static '/images/mesas-logo/logo-esg.png' %}" alt="">
        </div>
        <div class="botao-conteudo1">
            <a href="{% url 'Core:contato' %}" style="color: white;text-decoration: none;">
                <button>
                        Faça Parte da Equipe
                    </button>
                </a>
        </div>
        </div>

        
    </section>
 
    <div class="conteudo-2">
        <h2>Como Funciona?</h2>
        <p>Na mesa de ESG - Environmental, Social e Governance, somos dedicados a promover práticas empresariais sustentáveis e responsáveis. Nosso foco abrange questões ambientais, sociais e de governança, visando não apenas o sucesso financeiro, mas também o impacto positivo no planeta, na comunidade e na transparência organizacional. Estamos comprometidos em liderar uma abordagem integrada, alinhando ações éticas e responsáveis com resultados sustentáveis.</p>
    </div>

    <div class="get_main_serv">

        <div id="get_main_serve">
            <h3>Serviços</h3>

            <div class="get_main_services">
                
                <div class="get_main_wrapper">
                    <div class="get_main_circulo"><img id="get_main_img" src="{% static '/images/global/servicos/serv1.png' %}"></div>
                    <p id="get_main_box">Avaliação e Implementação de Práticas Sustentáveis</p>
                </div>

                <div class="get_main_wrapper">
                    <div class="get_main_circulo"><img id="get_main_img" src="{% static '/images/global/servicos/serv2.png' %}"></div>
                    <div class="get_main_boxboxRight">
                        <p id="get_main_box">Desenvolvimento de Políticas de Governança Corporativa</p>
                    </div>
                </div>
                <div class="get_main_wrapper">
                    <div class="get_main_circulo"><img id="get_main_img" src="{% static '/images/global/servicos/serv3.png' %}"></div>
                    <div class="get_main_boxboxRight">
                        <p id="get_main_box">Treinamento em Responsabilidade Social Empresarial</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="responsabilidades">
        <h2>Responsabilidades</h2>
        <p>Assume responsabilidades cruciais no desenvolvimento e implementação de práticas empresariais sustentáveis. Nossa equipe está comprometida em conduzir avaliações abrangentes, orientando e implementando estratégias para integrar princípios ESG. Além disso, nos dedicamos à formulação de políticas de governança corporativa transparentes, promovendo uma cultura organizacional responsável. Buscamos não apenas o sucesso financeiro, mas também o impacto positivo no meio ambiente, na sociedade e na eficácia organizacional, liderando uma abordagem holística e sustentável.</p>
    </div>

    <div class="beneficios">
        <div class="beneficios-titulo">
            <h2>Benefícios</h2>
        </div>
        <div class="beneficios-imagens">
            <div class="beneficio">
                <img src="{% static '/images/global/beneficios/beneficios-laranja01.png' %}" alt="Benefício 1">
                <p>Reputação Sustentável</p>
            </div>
            <div class="beneficio">
                <img src="{% static '/images/global/beneficios/beneficios-laranja02.png' %}" alt="Benefício 2">
                <p>Eficiência Operacional Aprimorada</p>
            </div>
            <div class="beneficio">
                <img src="{% static '/images/global/beneficios/beneficios-laranja03.png' %}" alt="Benefício 2">
                <p>Resiliência e Inovação</p>
            </div>

        </div>
    </div>


    <section class="equipes">
        <div class="carrossel-titulo">
        <h2>Equipes</h2>
    </div>
    <div class="imagens-carrossel">
        <i>
            <input checked type="radio" name="s" style="background-image: url('https://picsum.photos/500/300?random=1');" title="Random Picture 1">
            <input type="radio" name="s" style="background-image: url('https://picsum.photos/500/300?random=2');" title="Random Picture 2">
            <input type="radio" name="s" style="background-image: url('https://picsum.photos/500/300?random=3');" title="Random Picture 3">
            <input type="radio" name="s" style="background-image: url('https://picsum.photos/500/300?random=4');" title="Random Picture 4">
            <input type="radio" name="s" style="background-image: url('https://picsum.photos/500/300?random=5');" title="Random Picture 5">
        </i>
    </div>
    </section>
    
    

    <div class="ideal-para">
        <div class="ideal-para-titulo">
            <h2>Ideal Para</h2>
        </div>
        <div class="ideal-imagens">
            <div class="ideal">
                <img src="{% static '/images/global/ideial/ideal-laranja01.png' %}" alt="ideal1">
                <p> Aqueles interessados em integrar princípios de sustentabilidade, responsabilidade social e governança em suas carreiras futuras.</p>
            </div>
            <div class="ideal">
                <img src="{% static '/images/global/ideial/ideal-laranja02.png' %}" alt="ideal2">
                <p> Alunos que buscam compreender e aplicar práticas éticas e responsáveis no mundo dos negócios, promovendo impacto positivo na sociedade e no meio ambiente.</p>
            </div>
            <div class="ideal">
                <img src="{% static '/images/global/ideial/ideal-laranja03.png' %}" alt="ideal3">
                <p>Alunos interessados em finanças e investimentos responsáveis, buscando empresas comprometidas com práticas ESG, que priorizam sustentabilidade e responsabilidade social.</p>
            </div>

        </div>
    </div>
    
    <div class="titulo-competencias">
        <h2>Competências desenvolvidas</h2>
    </div>
        <div class="container">
        
            <div class="square">Sustentabilidade</div>
            <div class="square">Análise Crítica</div>
            <div class="square">Gestão da Complexidade Ambiental</div>
            <div class="square">Promoção da Diversidade e Inclusão</div>
        </div>
{% endblock %}
{% block js %}
    <script src="{% static '/script/menuShow.js' %}"></script>
{% endblock %}
    
</body>
</html>