{% extends 'base_roxo.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static '/style/pages/lowcode/lowcode.css' %}">
{% endblock %}
{% block title %}
    Low Code - Academy
{% endblock %}
{% block content %}
    <section class="conteudo1">
        <div class="titulo">
            <h1>Low Code</h1>
            <div class="itens">
                
                <p>  A mesa de low-code fornece um ambiente de desenvolvimento usado para criar software de aplicativo por meio de uma interface gráfica de usuário.
                </p>
                <img src="{%static '/images/mesas-logo/logo-lowcode.png'%}" alt="">
        </div>
        <div class="botao-conteudo1">
            <a href="{% url 'Core:contato' %}" style="color: white;text-decoration: none;">
                <button>
                        Faça Parte da Equipe
                    </button>
                </a>
        </div>
        </div>

        
    </section>
 
    <div class="conteudo-2">
        <h2>Como Funciona?</h2>
        <p>A mesa opera como um hub dinâmico, focado em capacitar os alunos a dominarem a criação de aplicativos low code. Aqui, eles aprendem a conceber soluções inovadoras, implementar sistemas eficientes usando a abordagem low code e a desenvolver programação de inteligência artificial para chatbots. Além disso, os participantes têm a oportunidade de aprimorar suas habilidades na gestão de business intelligence, proporcionando uma experiência prática e abrangente no desenvolvimento de tecnologias avançadas."</p>
    </div>

    <div class="get_main_serv">

        <div id="get_main_serve">
            <h3>Serviços</h3>

            <div class="get_main_services">
                
                <div class="get_main_wrapper">
                    <div class="get_main_circulo"><img id="get_main_img" src="{% static '/images/global/servicos/serv1.png' %}"></div>
                    <p id="get_main_box">Desenvolvimento de Aplicativos Low Code.</p>
                </div>

                <div class="get_main_wrapper">
                    <div class="get_main_circulo"><img id="get_main_img" src="{% static '/images/global/servicos/serv2.png' %}"></div>
                    <div class="get_main_boxboxRight">
                        <p id="get_main_box">Desenho e Inovação</p>
                    </div>
                </div>
                <div class="get_main_wrapper">
                    <div class="get_main_circulo"><img id="get_main_img" src="{% static '/images/global/servicos/serv3.png' %}"></div>
                    <div class="get_main_boxboxRight">
                        <p id="get_main_box">Gestão de Business Intelligence</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="responsabilidades">
        <h2>Responsabilidades</h2>
        <p> Os alunos desempenham um papel ativo e responsável. Eles aplicam prontamente os conhecimentos adquiridos, criando soluções práticas como aplicativos low code e sistemas, e programando inteligência artificial para chatbots. A colaboração e inovação são incentivadas, assim como a gestão eficiente de projetos. Participam ativamente de atividades de business intelligence, aplicando análise crítica para extrair insights valiosos. Assumindo essas responsabilidades, os alunos enriquecem sua experiência e contribuem para o sucesso coletivo da mesa.</p>
    </div>

    <div class="beneficios">
        <div class="beneficios-titulo">
            <h2>Benefícios</h2>
        </div>
        <div class="beneficios-imagens">
            <div class="beneficio">
                <img src="../images/global/beneficios/beneficios-roxo01.png" alt="Benefício 1">
                <p>Experiência Prática e Aplicação de Conhecimento</p>
            </div>
            <div class="beneficio">
                <img src="../images/global/beneficios/beneficios-roxo02.png" alt="Benefício 2">
                <p>Envolvimento em Atividades de Business Intelligence</p>
            </div>
            <div class="beneficio">
                <img src="../images/global/beneficios/beneficios-roxo03.png" alt="Benefício 2">
                <p>Desenvolvimento de Habilidades de Gerenciamento de Projetos</p>
            </div>

        </div>
    </div>


    <section class="equipes">
        <div class="carrossel-titulo">
        <h2>Equipes</h2>
    </div>
    <div class="imagens-carrossel">
        <i>
            <input checked type="radio" name="s" style="background-image: url('https://picsum.photos/500/300?random=1');" title="Random Picture 1">
            <input type="radio" name="s" style="background-image: url('https://picsum.photos/500/300?random=2');" title="Random Picture 2">
            <input type="radio" name="s" style="background-image: url('https://picsum.photos/500/300?random=3');" title="Random Picture 3">
            <input type="radio" name="s" style="background-image: url('https://picsum.photos/500/300?random=4');" title="Random Picture 4">
            <input type="radio" name="s" style="background-image: url('https://picsum.photos/500/300?random=5');" title="Random Picture 5">
        </i>
    </div>
    </section>
    
    

    <div class="ideal-para">
        <div class="ideal-para-titulo">
            <h2>Ideal Para</h2>
        </div>
        <div class="ideal-imagens">
            <div class="ideal">
                <img src="../images/global/ideial/ideal-roxo01.png" alt="ideal1">
                <p>  Alunos com desejoso de explorar o desenvolvimento de aplicativos low code, sistemas eficientes e inteligência artificial para chatbots.</p>
            </div>
            <div class="ideal">
                <img src="../images/global/ideial/ideal-roxo02.png" alt="ideal2">
                <p>  Alunos que desejam desenvolver habilidades de gestão de projetos, demonstrando responsabilidade no planejamento e execução eficiente de tarefas. </p>
            </div>
            <div class="ideal">
                <img src="../images/global/ideial/ideal-roxo03.png" alt="ideal3">
                <p> Aqueles que valorizam a inovação e colaboração, buscando oportunidades para trabalhar em equipe na criação de soluções tecnológicas inovadoras.</p>
            </div>

        </div>
    </div>
    
    <div class="titulo-competencias">
        <h2>Competências desenvolvidas</h2>
    </div>
        <div class="container">
        
            <div class="square">Desenvolver aplicativos</div>
            <div class="square">Desenhar soluções</div>
            <div class="square">Implementar sistemas low code</div>
            <div class="square">Criar programação de IA para chatbot</div>
            
        </div>
    {% endblock %}
    {% block js %}
    <script src="{% static '/script/menuShow.js' %}"></script>
    {% endblock %}