.depoimentos {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px 0px;
    padding: 30px 0px;
    overflow-x: hidden;
}

.depoimentos .titulo {
    color: var(--azul-claro);
    font-size: 1.8em;
    max-width: 500px;
    width: 95%;
    text-align: center;
}

.depoimentos .linha {
    position: relative;
    width: 220px;
    height: 15px;
}

.depoimentos .linha .esquerda{
    background-color: var(--azul-claro);
    width: 60%;
    height: 2px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.depoimentos .linha .direita{
    background-color: var(--azul-escuro);
    width: 60%;
    height: 2px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.depoimentos .depoimentos-item {
    z-index: 99;
    display: flex;
    flex-direction:  row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 30px;
    width: 95%;
    padding: 15px 10px;
}

.depoimentos .depoimentos-item .card-depoimento {
    max-width: 300px;
    width: 95%;
    min-height: 330px;
    padding: 5px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px 0px;
}

.depoimentos .depoimentos-item .card-depoimento .imagem-card{
    width: 150px;
    height: 150px;
    border-radius: 25px;
    object-fit: cover;
}

.depoimentos .depoimentos-item .card-depoimento .card-titulo{
    font-size: 1.5em;
    color: var(--azul-escuro);
    font-weight: 500;
}

.depoimentos .depoimentos-item .card-depoimento .card-paragrafo{
    font-size: 0.9em;
    font-weight: 400;
    width: 90%;
    text-align: center;
}

.depoimentos .depoimento-botao{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 15px;
    display: none;
    
}

.depoimentos .depoimento-botao .botao-item{
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;  
}

.depoimentos .depoimento-botao .botao-item.ativo{ 
    background-color: var(--azul-escuro);    
}


.bolhinhas-esquerda {
    position: absolute;
    width: 180px;
    height: 180px;
    top: 50%;
    transform: translateY(-50%);
    left: -80px;
}

.bolhinhas-direita {
    position: absolute;
    width: 180px;
    height: 180px;
    top: 50%;
    transform: translateY(-50%);
    right: -80px;
}

@media (max-width: 700px) {
    .depoimentos .depoimento-botao {
        display: flex;
    }

    .depoimentos .depoimentos-item {
        position: relative;
        max-width: 450px;
        width: 95%;
        height: 350px;
    }

    .depoimentos .depoimentos-item .card-depoimento {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }

    .depoimentos .depoimentos-item .card-depoimento.ativo {
        transition: 1.1s;
        opacity: 1;
    }
}

@media(max-width: 450px) {
    .bolhinhas-esquerda {
        width: 150px;
        height: 150px;
    }
    
    .bolhinhas-direita {
        width: 150px;
        height: 150px;
    }
}