.principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    padding: 50px 0px;
    gap: 0px 15px;
}

.principal .escrita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px 0px;
    height: auto;
    max-width: 50%;
    width: 98%;
}

.principal .escrita .titulo{
    font-size: 1.5em;
}

.principal .escrita .paragrafo{
    width: 95%;
    height: auto;
    font-size: 1.1em;
    color: var(--branco);
}

.principal .escrita .botao{
    max-width: 250px;
    width: 95%;
    height: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    color: var(--branco);
}

.principal .imagem{
    max-width: 35%;
    width: 98%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal .imagem .imagem-item{
    width: 100%;
}

@media(max-width:750px) {
    .principal .escrita .paragrafo {
        font-size: 1em;
    }
}

@media(max-width:650px) {
    .principal {
        flex-direction: column-reverse;
        gap: 35px 15px;
    }

    .principal .imagem {
        max-width: 60%;
    }

    .principal .escrita  {
        align-items: center;
        max-width: 70%;
    }
    .principal .escrita .titulo{
        font-size: 1.8em;
    }

    .principal .escrita .paragrafo{
        text-align: center;
    }
}

@media(max-width: 435px) {
    .principal .imagem {
        max-width: 75%;
    }


    .principal .escrita  {
        max-width: 95%;
    }

    .principal .escrita .paragrafo{
        text-align: center;
        font-size: 0.9em;
    }

    .principal .escrita .botao{
        max-width: 200px;
        font-size: 0.9em;

    }
}