.servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px 0px;
    width: 100%;
    min-height: 280px;
    padding: 30px 0px;
}

.servicos .titulo {
    font-size: 1.5em;
}

.servicos .servicos-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 92%;
    gap: 20px 50px;
}

.servicos .servicos-card .servicos-item {
    max-width: 360px;
    width: 95%;
    min-height: 120px;
    padding: 15px 5px 15px 0px;
    border: 2px solid var(--branco);
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.servicos .servicos-card .servicos-item .servicos-imagem {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -35px;
}

.servicos .servicos-card .servicos-item .servicos-imagem .imagem-item {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.servicos .servicos-card .servicos-item .servico-paragrafo {
    width: 85%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: var(--branco);
    font-weight: bold;
}

@media(max-width:500px) {
    .servicos .servicos-card .servicos-item {
        width: 85%;
    }

    .servicos .servicos-card .servicos-item .servico-paragrafo {
        width: 80%;
        font-size: 0.9em;
    }
}

@media(max-width:360px) {
    .servicos .servicos-card .servicos-item {
        width: 75%;
    }

    .servicos .servicos-card .servicos-item .servicos-imagem {
        width: 65px;
        height: 65px;
    }

    .servicos .servicos-card .servicos-item .servicos-imagem .imagem-item {
        width: 30px;
        height: 30px;
    }
}