/* Container para o formulário */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--branco);
    border-radius: 8px;
    width: 80%;
    max-width: 900px;
    min-height: 500px; /* Garantir que o container tenha uma altura mínima */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    gap: 20px;
}

/* Estilizando a logo */
.container .logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .logo img {
    max-width: 180px; /* Ajuste de tamanho para a logo */
}

/* Estilizando o formulário */
.form-container {
    flex: 2;
    background-color: var(--branco);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: var(--azul-escuro);
    margin-bottom: 20px;
    font-size: 1.8em;
    font-weight: 600;
}

/* Estilizando os campos do formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form .form-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form .form-field label {
    font-weight: 500;
    color: var(--azul-escuro);
    font-size: 1em;
}

form .form-field input {
    padding: 12px;
    font-size: 1em;
    border: 2px solid var(--azul-escuro);
    border-radius: 5px;
    color: var(--azul-escuro);
}

form .form-field input:focus {
    border-color: var(--azul-claro);
    outline: none;
}

/* Estilizando o botão de envio */
button.btn {
    background-color: var(--azul-claro);
    color: var(--branco);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}

button.btn:hover {
    background-color: var(--azul-escuro);
    color: var(--azul-claro);
}

/* Estilizando a mensagem de sucesso */
.messages.success {
    background-color: var(--verde-claro);
    color: var(--azul-escuro);
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
    margin-top: 20px;
}
