.empresas {
    width: 100%;
    height: auto;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px 0px;
}


.empresas .titulo {
    color: var(--azul-claro);
    font-size: 1.8em;
    max-width: 500px;
    width: 95%;
    text-align: center;
}


.empresas .linha {
    position: relative;
    width: 220px;
    height: 15px;
}


.empresas .linha .esquerda{
    background-color: var(--azul-claro);
    width: 60%;
    height: 2px;
    position: absolute;
    top: 0px;
    left: 0px;
}


.empresas .linha .direita{
    background-color: var(--azul-escuro);
    width: 60%;
    height: 2px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}


.empresas .empresas-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 20px;
    width: 95%;
    height: auto;
}


.empresas .empresas-cards .card-item {
    max-width: 280px;
    width: 95%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empresas .empresas-cards .card-item .imagem-card.jbq {
    height: 135px;
    width: 135px;
}

.empresas .empresas-cards .card-item .imagem-card.rb {
    max-width: 182px;
}

.empresas .empresas-cards .card-item .imagem-card {
    width: 90%;
}

.empresas .card-botao {
    width: 90%;
    height: auto;
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 10px;
    display: none;
}

.empresas .card-botao .botao-card{
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;   
    background-color: #ccc;    
}

.empresas .card-botao .botao-card.ativo{ 
    background-color: var(--azul-escuro);    
}

@media(max-width: 628px) {
    .empresas .empresas-cards{
        height: 200px;
        position: relative;
    }

    .empresas .empresas-cards .card-item {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }

    .empresas .empresas-cards .card-item.ativo {
        transition: 1.1s;
        opacity: 1;
    }

    .empresas .card-botao {
        display: flex;
    }
}


@media(max-width: 500px) {
    .empresas .titulo {
        font-size: 1.5em;
    }
}


@media(max-width: 400px) {
    .empresas .empresas-cards .card-item {
        max-width: 200px;
    }

    .empresas .empresas-cards .card-item .imagem-card.jbq {
        height: 110px;
        width: 110px;
    }
    
    .empresas .empresas-cards .card-item .imagem-card.rb {
        max-width: 120px;
    }
}

