{% extends 'bases/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'style\pages\desenvolvedores\desenvolvedores.css' %}">
{% endblock %}    
{% block title %} 
    Academy One - Depoimentos
{% endblock %}
{% block content %}
    <main class="conteudo-desenvolvedores">
        <section class="card-titulo">
            <h1 class="titulo-item">Desenvolvedores</h1>
        </section>
        <section class="card-desenvolvedores">
            <div class="card">
                <div class="card-image">
                    <img src="https://media.licdn.com/dms/image/v2/C4D03AQE-0b1UDVvpCw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1655992417406?e=1738195200&v=beta&t=URZhzWRmcXhrilDS3XQOZDX4rWQ3-ZP1PPWyV5y5-C8" alt="Imagem de Perfil" class="imagem-item">
                </div>
                <p class="name">Mak</p>
                <p class="paragrafo">Gestor</p>
                <p class="paragrafo">
                    O gestor de projetos coordena equipes e recursos para garantir que os objetivos sejam alcançados de forma eficiente, planejando e monitorando cada etapa do projeto.</p>
                <div class="socials">
                 <a href="https://github.com/" target="_blank"> <button class="botao"><i class="bi bi-github icon github"></i></button></a>
                  <a href="https://www.linkedin.com/in/hantz-makensly-joseph-334334243/" target="_blank"><button class="botao"><i class="bi bi-linkedin icon linkedin"></i></button></a> 
                </div>
            </div>
        
          <div class="card">
                <div class="card-image">
                    <img src="{% static 'images\pages\desenvolvedores\imagem_nathan.jpg' %}" alt="Imagem de Perfil" class="imagem-item">
                </div>
                <p class="name">Nathan Ferraz</p>
                <p class="paragrafo">Gestor</p>
                <p class="paragrafo">
                    O gestor de projetos coordena equipes e recursos para garantir que os objetivos sejam alcançados de forma eficiente, planejando e monitorando cada etapa do projeto.</p>
                <div class="socials">
                    <a href="https://github.com/nathanrock" target="_blank"> <button class="botao"><i class="bi bi-github icon github"></i></button></a>
                    <a href="https://www.linkedin.com/in/nathan-ferraz-529146291?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"> <button class="botao"><i class="bi bi-linkedin icon linkedin"></i></button></a> 
                </div>
            </div>
        
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'images\pages\desenvolvedores\imagem_irley.jpg' %}" alt="Imagem de Perfil" class="imagem-item">
                </div>
                <p class="name">Irley Viera</p>
                <p class="paragrafo">Front-end</p>
                <p class="paragrafo">Um programador front-end é o arquiteto das emoções digitais, moldando a experiência visual de websites e aplicações com maestria em HTML, CSS e JavaScript.</p>
                <div class="socials">
                    <a href="https://github.com/irleyvieira" target="_blank"> <button class="botao"><i class="bi bi-github icon github"></i></button></a>
                    <a href="https://www.linkedin.com/in/irley-vieira-maia-4186642b7/?originalSubdomain=br" target="_blank"> <button class="botao"><i class="bi bi-linkedin icon linkedin"></i></button></a> 
                </div>
            </div>
        
           <div class="card">
                <div class="card-image">
                    <img src="https://media.licdn.com/dms/image/v2/D4D03AQGb8gRWM3Tcog/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1694546504821?e=1738195200&v=beta&t=cg5CAtpawjP8Yy1nIgdIA6C5fFLzja0zuhEGQXYpEKM" alt="Imagem de Perfil" class="imagem-item">
                </div>
                <p class="name">Kauã Sousa</p>
                <p class="paragrafo">Front-end</p>
                <p class="paragrafo">Um programador front-end é o arquiteto das emoções digitais, moldando a experiência visual de websites e aplicações com maestria em HTML, CSS e JavaScript.</p>
                <div class="socials">
                    <a href="https://github.com/Kasousa01" target="_blank"> <button class="botao"><i class="bi bi-github icon github"></i></button></a>
                    <a href="https://www.linkedin.com/in/kau%C3%A3-sousa-santos-455145291/" target="_blank"> <button class="botao"><i class="bi bi-linkedin icon linkedin"></i></button></a> 
                </div>
            </div>
        
           <div class="card">
                <div class="card-image">
                    <img src="https://media.licdn.com/dms/image/v2/D4D03AQHJqPH8vawe7w/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1694457399344?e=1738195200&v=beta&t=7A7m56duwJ6Fasdx9yxCJuzaBgZ8LMF5zTlFmBbABJU" alt="Imagem de Perfil" class="imagem-item">
                </div>
                <p class="name">Pedro Rocha</p>
                <p class="paragrafo">Front-end</p>
                <p class="paragrafo">Um programador front-end é o arquiteto das emoções digitais, moldando a experiência visual de websites e aplicações com maestria em HTML, CSS e JavaScript.+</p>
                <div class="socials">
                    <a href="https://github.com/PedroAraujo88" target="_blank"> <button class="botao"><i class="bi bi-github icon github"></i></button></a>
                    <a href="https://www.linkedin.com/in/pedro-henrique-de-araujo-rocha-663292284/?originalSubdomain=br" target="_blank"> <button class="botao"><i class="bi bi-linkedin icon linkedin"></i></button></a> 
                </div>
            </div>
        
            <div class="card">
                <div class="card-image">
                    <img src="https://media.licdn.com/dms/image/v2/D4E03AQE0FDQ8fLUPbg/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1709765041074?e=1738195200&v=beta&t=V-fm5V4UKggUO94fwpno-kcjRjrYCD6C0WaSSWV611g" alt="Imagem de Perfil" class="imagem-item">
                </div>
                <p class="name"> Guilherme Carvalho</p>
                <p class="paragrafo">Front-end</p>
                <p class="paragrafo">Um programador front-end é o arquiteto das emoções digitais, moldando a experiência visual de websites e aplicações com maestria em HTML, CSS e JavaScript.</p>
                <div class="socials">
                    <a href="https://github.com/guilhermecarvalhosilva" target="_blank"> <button class="botao"><i class="bi bi-github icon github"></i></button></a>
                    <a href="https://www.linkedin.com/in/guilhermecarvalhodasilva/" target="_blank"> <button class="botao"><i class="bi bi-linkedin icon linkedin"></i></button></a> 
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="https://media.licdn.com/dms/image/v2/D5603AQG52DKOglwO-Q/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1709229070465?e=1738195200&v=beta&t=CX3DkPYIVB_80DthSnRxf43d7bUp_E8sp2ruvsoXL_c" alt="Imagem de Perfil" class="imagem-item">
                </div>
                <p class="name">Murillo Mendes</p>
                <p class="paragrafo">Front-end e Documentação</p>
                <p class="paragrafo">Um programador front-end é o arquiteto das emoções digitais, moldando a experiência visual de websites e aplicações com maestria em HTML, CSS e JavaScript.</p>
                <div class="socials">
                    <a href="https://github.com/Mdragon777" target="_blank"> <button class="botao"><i class="bi bi-github icon github"></i></button></a>
                    <a href="https://www.linkedin.com/in/murillo-mendes-rodrigues" target="_blank"> <button class="botao"><i class="bi bi-linkedin icon linkedin"></i></button></a> 
                </div>
            </div>
        
         <div class="card">
                <div class="card-image">
                    <img src="https://media.licdn.com/dms/image/v2/D4D03AQHYKPVzqBVE2g/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1705768276444?e=1738195200&v=beta&t=JJdaLorRDgHIKw_lKHYQu8A_xR1dAELOJi9ic9UNjO8" alt="Imagem de Perfil" class="imagem-item">
                </div>
                <p class="name">Giovani Dantas</p>
                <p class="paragrafo">Back-end</p>
                <p class="paragrafo">
                    O back-end é a força invisível que gerencia servidores e bancos de dados, utilizando linguagens como Python e Java para garantir que as aplicações funcionem corretamente.</p>
                <div class="socials">
                    <a href="https://github.com/Giovani-Dantas-Braconi" target="_blank"> <button class="botao"><i class="bi bi-github icon github"></i></button></a>
                    <a href="https://www.linkedin.com/in/giovani-dantas-braconi/" target="_blank"> <button class="botao"><i class="bi bi-linkedin icon linkedin"></i></button></a> 
                </div>
            </div>
        
           
            <div class="card">
                <div class="card-image">
                    <img src="https://media.licdn.com/dms/image/v2/D4D03AQHoF9GGfF0sag/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1709259591928?e=1738195200&v=beta&t=FBLQVn3qF9MAO2ZAAQtAR4NLcuLNrFrHl3kZW_PiJLE" alt="Imagem de Perfil" class="imagem-item">
                </div>
                <p class="name">Enzo Spada</p>
                <p class="paragrafo">Documentação</p>
                <p class="paragrafo">
                    O documentador cria e mantém a documentação clara e acessível de projetos, facilitando a comunicação e garantindo que o conhecimento seja compartilhado entre as equipes.</p>
                <div class="socials">
                    <a href="https://github.com/JxF0uL" target="_blank"> <button class="botao"><i class="bi bi-github icon github"></i></button></a>
                    <a href="https://br.linkedin.com/in/enzo-spada-ramalho-497aa61a9" target="_blank"> <button class="botao"><i class="bi bi-linkedin icon linkedin"></i></button></a> 
                </div>
            </div>
        
            <div class="card">
                <div class="card-image">
                    <img src="https://media.licdn.com/dms/image/v2/D4D35AQEWrt16AxrRVg/profile-framedphoto-shrink_200_200/profile-framedphoto-shrink_200_200/0/1722566016013?e=1733335200&v=beta&t=ggGSSFRa3Ei_e0BAMLRAfefzLXSJMdVUVNt5SGavCxk" alt="Imagem de Perfil" class="imagem-item">
                </div>
                <p class="name">Luiz Lima</p>
                <p class="paragrafo">Documentação</p>
                <p class="paragrafo">
                    O documentador cria e mantém a documentação clara e acessível de projetos, facilitando a comunicação e garantindo que o conhecimento seja compartilhado entre as equipes.</p>
                <div class="socials">
                    <a href="https://github.com/ReTr07229" target="_blank"> <button class="botao"><i class="bi bi-github icon github"></i></button></a>
                    <a href="https://www.linkedin.com/in/luiz-henrique-lima-rodrigues-a82296283/?locale=en_US" target="_blank"> <button class="botao"><i class="bi bi-linkedin icon linkedin"></i></button></a> 
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block js %}
{% endblock %}