{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/pages/index/index.css' %}">
    <title>Academy One - Home</title>
</head>
<body>
    <header class="cabecalho">
        <section class="logo">
            <img src="{% static 'images\global\logo_academy\logo-academy.png' %}" alt="Logo Academy One" class="logo-item">
        </section>

        <section class="menu">
            <nav class="menu-item">
                <a href="#" class="item ativo">Home</a>
                <a href="#" class="item">Sobre</a>
                <a href="#" class="item">Mesas</a>
                <a href="./src/pages/contato.html" class="item">Contato</a>
            </nav>

            <a href="#" class="botao">Entrar</a>
        </section>

        <section class="mobile" onclick="menuShow()">
            <div class="mobile-item"></div>
            <div class="mobile-item"></div>
            <div class="mobile-item"></div>
        </section>
    </header>

    <main class="conteudo">
        <section class="principal">
            <article class="escrita">
                <h1 class="titulo">Potencializando conhecimento, transformando alunos em profissionais.</h1>
                <p class="paragrafo">Na Academy One, não apenas defendemos o aprendizado continuo, mas o vivemos diariamente, Imagine-se no controle total de sua jornada educacional, superando desafios e conquistando objetivos. Nós entendemos suas dores e objetivos, pois os compartilhamos. Junte-se a nós no Academy e transforme suas metas em conquistas, moldando seu caminho para a excelência.</p>
                <a href="#" class="botao">Faça parte da equipe</a>
            </article>

            <article class="imagem">
                <img src="{% static 'images\pages\index\logo-principal.jpg' %}" alt="imagem representa um grupo de pessoas reunidas" class="img-principal">
                <img src="{% static 'images\pages\index\bola-arco.png' %}" alt="bola e um arco" class="icon-superior">
                <img src="{% static 'images\pages\index\meia-rosquinha.png' %}" alt="meia rosquinha" class="icon-inferior">
            </article>
        </section>

        <section class="objetivo">
            <h2 class="titulo">Nosso Objetivo</h2>
            <div class="linha">
                <div class="esquerda"></div>
                <div class="direita"></div>
            </div>
            <p class="paragrafo">Nossa startup estó empenhada em proporcionar crescimento pessoal aos nossos alunos. Contamos com equipes multidisciplinares formados por estudantes talentosos, sob a liderança de profissionais experientes do mercado. Nossos alunos são desenvolvidos por meio de estações de práticas profissionais, permitindo que escolham aquela com a quat mais se identificam</p>
        </section>

        <section class="praticas">
            <h2 class="titulo">Conheças nossas estações de práticas</h2>
            <p class="paragrafo">Nossas estações de práticas profissionais oferecem 12 estações, permitindo que os alunos escolham aquela que melhor se alinha com sua identidade profissional, Durante o inicio do projeto, dedicamos um periodo especial para explorar diferentes carreiras, proporcionando uma compreensão aprofundada das áreas disponiveis. Afinal, queremos ajudá-lo a descobrir o caminho que mais faz sentido para sua trajetória profissional. Vamos juntos explorar as possibilidades e moldar o seu futurol</p>
            <article class="estacoes">
                <h3 class="estacoes-titulo">Estações Acadêmicas</h3>
                <div class="estacoes-card">
                    <div class="card-item grande cinza">
                        <div class="card-logo">
                            <img src="src/images/mesas-logo/logo-get.png" alt="Estação de GET" class="logo-img">
                        </div>
                    </div>

                    <div class="card-item grande cinza">
                        <div class="card-logo">
                            <img src="" alt="Estação de PCA" class="logo-img">
                        </div>
                    </div>
                </div>
            </article>

            <article class="estacoes">
                <h3 class="estacoes-titulo">Estações Gestão</h3>
                <div class="estacoes-card">
                    <div class="card-item pequeno verde">
                        <div class="card-logo">
                            <img src="src/images/mesas-logo/logo-qualidade.png" alt="Estação de qualidade" class="logo-img">
                        </div>
                    </div>

                    <div class="card-item pequeno verde">
                        <div class="card-logo">
                            <img src="src/images/mesas-logo/logo-esg.png" alt="Estação de ESG" class="logo-img">
                        </div>
                    </div>

                    <div class="card-item grande verde">
                        <div class="card-logo">
                            <img src="src/images/mesas-logo/logo-pmo.png" alt="Estação de PMO" class="logo-img">
                        </div>
                    </div>

                    <div class="card-item pequeno verde">
                        <div class="card-logo">
                            <img src="src/images/mesas-logo/logo-bpo.png" alt="Estação de BPO" class="logo-img">
                        </div>
                    </div>

                    <div class="card-item pequeno verde">
                        <div class="card-logo">
                            <img src="src/images/mesas-logo/logo-rh.png" alt="Estação de RH" class="logo-img">
                        </div>
                    </div>
                </div>
            </article>

            <article class="estacoes">
                <h3 class="estacoes-titulo">Estações de Tecnologia da Informação</h3>
                <div class="estacoes-card">
                    <div class="card-item pequeno roxo">
                        <div class="card-logo">
                            <img src="" alt="Estação de No Code" class="logo-img">
                        </div>
                    </div>

                    <div class="card-item grande roxo">
                        <div class="card-logo">
                            <img src="src/images/mesas-logo/logo-lowcode.png" alt="Estação de Low Code" class="logo-img">
                        </div>
                    </div>

                    <div class="card-item grande roxo">
                        <div class="card-logo">
                            <img src="" alt="Estação de Dev" class="logo-img">
                        </div>
                    </div>

                    <div class="card-item pequeno roxo">
                        <div class="card-logo">
                            <img src="src/images/mesas-logo/logo-cloud.png" alt="Estação de Cloud" class="logo-img">
                        </div>
                    </div>
                </div>
            </article>

            <article class="estacoes">
                <h3 class="estacoes-titulo">Estações de Comunicação Digital</h3>
                <div class="estacoes-card">
                    <div class="card-item pequeno azul">
                        <div class="card-logo">
                            <img src="" alt="Estação de Web" class="logo-img">
                        </div>
                    </div>

                    <div class="card-item grande azul">
                        <div class="card-logo">
                            <img src="src/images/mesas-logo/logo-marketing.png" alt="Estação de Marketing" class="logo-img">
                        </div>
                    </div>

                    <div class="card-item pequeno azul">
                        <div class="card-logo">
                            <img src="src/images/mesas-logo/logo-sdr.png" alt="Estação de Sdr" class="logo-img">
                        </div>
                    </div>
                </div>
            </article>
            
            <!-- <article class="mesas">
                <div class="card verde">
                    <img src="src/images/mesas-logo/logo-pmo.png" alt="">
                </div>
                <div class="card verde">
                    <img src="src/images/mesas-logo/logo-qualidade.png" alt="">
                </div>
                <div class="card verde">
                    <img src="src/images/mesas-logo/logo-get.png" alt="">
                </div>

                <div class="card laranja">
                    <img src="src/images/mesas-logo/logo-esg.png" alt="">
                </div>
                <div class="card laranja">
                    <img src="src/images/mesas-logo/logo-bpo.png" alt="">
                </div>
                <div class="card laranja">
                    <img src="src/images/mesas-logo/logo-rh.png" alt="">
                </div>

                <div class="card roxo">
                    <img src="src/images/mesas-logo/logo-lowcode.png" alt="">
                </div>
                <div class="card roxo">
                    <img src="src/images/mesas-logo/logo-cloud.png" alt="">
                </div>

                <div class="card azul">
                    <img src="src/images/mesas-logo/logo-marketing.png" alt="" class="azul">
                </div>
                <div class="card azul">
                    <img src="src/images/mesas-logo/logo-sdr.png" alt="" class="azul">
                </div>
            </article> -->
        </section>

        <section class="depoimentos">
            <h2 class="titulo">Depoimentos</h2>
            <div class="linha">
                <div class="esquerda"></div>
                <div class="direita"></div>
            </div>

            <article class="depoimentos-item">
                <div class="card-depoimento ativo">
                    <img src="{% static 'images\pages\index\depoimentos\depoimento01.jpeg' %}" alt="Foto do aluno(a)" class="imagem-card">
                    <h3 class="card-titulo">Ricardo Zach</h3>
                    <p class="card-paragrafo">
                        “O academy trás o conceito de treinar o adolescente para o mercado de trabalho, visando prepará-los para receber projetos e processos reais.”
                    </p>
                </div>

                <div class="card-depoimento">
                    <img src="{% static 'images\pages\index\depoimentos\depoimento02.jpeg' %}" alt="Foto do aluno(a)" class="imagem-card">
                    <h3 class="card-titulo">Rebeka Sukalaya</h3>
                    <p  class="card-paragrafo">
                        “Achei o ambiente profissional, onde desenvolvi bem a minha comunicação e métodos de resolução de problemas.”
                    </p>
                </div>

                <div class="card-depoimento">
                    <img src="{% static 'images\pages\index\depoimentos\depoimento03.jpeg' %}" alt="Foto do aluno(a)" class="imagem-card">
                    <h3 class="card-titulo">Miguel Perrella</h3>
                    <p  class="card-paragrafo">
                        “Em geral o academy melhorou o meu desenvolvimento tanto com os colegas como meu desenvolvimento em relação ao trabalho.”
                    </p>
                </div>

                <div class="card-depoimento">
                    <img src="{% static 'images\pages\index\depoimentos\depoimento04.jpeg' %}" alt="Foto do aluno(a)" class="imagem-card">
                    <h3 class="card-titulo">Júlia Lessa</h3>
                    <p  class="card-paragrafo">
                        “Tive um grande aprendizado, bastante conhecimento e muita ajuda, estou gostando muito.”
                    </p>
                </div>
            </article>

            <article class="depoimento-botao">
                <button class="botao-item ativo"></button>
                <button class="botao-item"></button>
                <button class="botao-item"></button>
                <button class="botao-item"></button>
            </article>

            <img src="{% static 'images\pages\index\bolinhas.png' %}" alt="bolinhas" class="bolhinhas-esquerda">
            <img src="{% static 'images\pages\index\bolinhas.png' %}" alt="bolinhas" class="bolhinhas-direita">
        </section>

        <section class="empresas">
            <h2 class="titulo">Empresas parceiras</h2>
            <div class="linha">
                <div class="esquerda"></div>
                <div class="direita"></div>
            </div>


            <article class="empresas-cards">
                <div class="card-item ativo">
                    <img src="{% static 'images\pages\index\empresas\eniac.png' %}" alt="" class="imagem-card">
                </div>


                <div class="card-item">
                    <img src="{% static 'images\pages\index\empresas\eniacventures.png' %}" alt="" class="imagem-card">
                </div>


                <div class="card-item">
                    <img src="{% static 'images\pages\index\empresas\mobi.png' %}" alt="" class="imagem-card">
                </div>


                <div class="card-item">
                    <img src="{% static 'images\pages\index\empresas\cegru.png' %}" alt="" class="imagem-card">
                </div>


                <div class="card-item">
                    <img src="{% static 'images\pages\index\empresas\jbq.png' %}" alt="" class="imagem-card jbq">
                </div>


                <div class="card-item">
                    <img src="{% static 'images\pages\index\empresas\teltec.png' %}" alt="" class="imagem-card">
                </div>


                <div class="card-item">
                    <img src="{% static 'images\pages\index\empresas\rb.png' %}" alt="" class="imagem-card rb">
                </div>

                <div class="card-item">
                    <img src="{% static 'images\pages\index\empresas\kafnet.png' %}" alt="" class="imagem-card">
                </div>

                <div class="card-item">
                    <img src="{% static 'images\pages\index\empresas\zoho.jpg' %}" alt="" class="imagem-card">
                </div>

                <div class="card-item">
                    <img src="{% static 'images\pages\index\empresas\erpflex.jpg' %}" alt="" class="imagem-card">
                </div>
            </article>

            <article class="card-botao">
                <button class="botao-card ativo"></button>
                <button class="botao-card"></button>
                <button class="botao-card"></button>
                <button class="botao-card"></button>
                <button class="botao-card"></button>
                <button class="botao-card"></button>
                <button class="botao-card"></button>
                <button class="botao-card"></button>
                <button class="botao-card"></button>
                <button class="botao-card"></button>
            </article>
        </section>

        
    </main>

    <footer class="rodape">
        <section class="imagem">
            <img src="./src/images/global/logo-academy-footer.png" alt="logo academy one footer" class="imagem-item">
        </section>
    </footer>
    
    <script src="./src/script/global/menuShow.js"></script>
    <script src="./src/script/pages/index/slider-depoimentos.js"></script>
    <script src="./src/script/pages/index/slider-empresas.js"></script>
</body>
</html>