.pratica {
    position: relative;
    width: 100%;
    height: auto;
    padding: 30px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px 0px;
}

.pratica .pratica-titulo {
    color: var(--azul-escuro);
    font-size: 2em;
    width: 95%;
    text-align: center;
}

.pratica .pratica-imagens {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    gap: 30px 20px;
}

.pratica .pratica-imagens .pratica-card{
    max-width: 370px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.pratica .pratica-imagens .pratica-card .card-imagem{
    width: 100%;
}

@media(max-width: 820px) {
    .pratica .pratica-imagens {
     max-width: 370px;
     width: 95%;
     min-height: 230px;
     position: relative;
     display: flex;
    }
    
    .pratica .pratica-imagens .pratica-card{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    .pratica .pratica-imagens .pratica-card.ativo{
        transition: 1.2s;
        opacity: 1;
    }
    
    .pratica .pratica-imagens .pratica-card .card-imagem{
        width: 100%;
    }

    .pratica .pratica-card-botao {
        width: 90%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0px 20px;
    }

    .pratica .pratica-card-botao .botao-card{
        cursor: pointer;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: none;   
        background-color: #ccc;    
    }

    .pratica .pratica-card-botao .botao-card.ativo{ 
        background-color: var(--azul-escuro);    
    }
    
}

@media(max-width: 510px) {
    .pratica .pratica-titulo {
        font-size: 1.5em;
    }
}